<h1>Eric Streske</h1>
<h3>I like to play guitar and video games, develop websites, and watch comedy television.</h3>
<h3>Check out my web development work:<h3>
  <ul>
    <li><a href="http://ancient-thicket-3753.herokuapp.com/">Lookin at the Musics</a>
    </ul>
<a href="/contact"><img src="eric.jpg" /></a>
<p>Click the image for Contact information</p>