<div class="container">
<div class="six columns offset-by-five">
  <h1>Eric Streske</h1>
</div>
<div class="sixteen columns">
  <hr>
</div>
<div class="six columns offset-by-five">
<a href="/contact"><img src="eric.jpg" /></a>
<p>Click the image for Contact information</p>
</div>
<div class="one-third column">
<h3>I like to play guitar and video games, develop websites, and watch comedy television.</h3>
</div>
<div class="one-third column">
<h3>Check out my web development work:<h3>
  <br>
  <ul>
    <li><a href="http://ancient-thicket-3753.herokuapp.com/">Lookin at the Musics</a>
    </ul>
  </div>
  <div class="one-third column">
    <h3>Check out some of my music:<h3>
      <br>
    <ul>
      <li><a href="http://shoelessrevolution.bandcamp.com/">Shoeless Revolution</a>
    </ul>
      </div>
  <div class="sixteen columns">
  <hr>
</div>
</div>